---
title: Home
subtitle: A place to connect with others who love Kyrgyzstan.
layout: default
hero-image: /assets/images/kyrgyzstan-mountain-landscape.jpg
---

<div class="full-width-image p-3 p-md-5" style="background-image: url('{{ page.hero-image }}'); background-size: cover; background-position: center;">
	<div class="container p-3 p-md-5">
		<div class="row p-3 p-md-5">
			<div class="col-12 text-white text-center">
				<h1 class="deep display-3">{{ site.title }}</h1>
				<h2 class="deep">{{ site.subtitle }}</p>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid bg-dark p-3 p-md-5">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2 class="display-5 text-white">SUPPORT OUR CAUSE</h2>
				<a href="https://www.peacecorpsconnect.org/auth/signup" class="btn btn-lg btn-outline-light mr-3" role="button" aria-pressed="true" target="_blank">Join Now {% include icons/user-friends-solid.svg %}</a>
				<a href="{{ site.url }}/donate/" class="btn btn-lg btn-outline-light" role="button" aria-pressed="true">Donate Now {% include icons/wallet-solid.svg %}</a>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row py-3 py-md-5">
		<div class="col-md-8">
			<h2>What Is Friends of Kyrgyzstan?</h2>
			<p>FOK’s mission is to facilitate communication among members and promote exchange of information by responding to requests for and sharing information about Kyrgyzstan and facilitating the sharing and exchange of ideas, activities, materials, resources and expertise among members and others.</p>
			<p>We focus on representing the Peace Corps experience and support the continual learning of members in areas related to the culture, country and development of Kyrgyzstan including the promotion and facilitation of projects our members undertake with this aim.</p>
			<div class="row">
				<div class="col-md-6">
					<h4>{% include icons/user-friends-solid.svg %} Dialogue</h4>
					<p>We promote continuous dialogue regarding the work Peace Corps Volunteers have accomplished in Kyrgyzstan by hosting meet ups, online conversations, and representing our cumulative experiences to community and government leaders.</p>
				</div>
				<div class="col-md-6">
					<h4>{% include icons/hand-holding-usd-solid.svg %} Fundraising</h4>
					<p>We support projects of current Peace Corps Volunteers in Kyrgyzstan through grants we fund with the generosity of our supporters. We are a registered 501(c)3 organization. <a href="{{ site.url }}/donate/" alt="Make a donation to Friends of Kyrgyzstan here">Make your tax-deductible donation today</a>.</p>
				</div>
			</div>
		</div>
		<div class="col-md-4 p-3 p-md-5 bg-dark text-white d-none d-md-block">
			{% include icons/quote-right-solid.svg %}
			<p class="lead">Why not travel the world, learn a new language, meet amazing people, challenge yourself, and live life to the fullest?</p>
			<p><strong>DRAKE M.</strong></p>
			<p>RPCV K-22</p>
			<a href="{{ site.url }}/contact/" class="btn btn-lg btn-outline-light" role="button" aria-pressed="true">Get in touch</a>
		</div>
	</div>
</div>

<div class="container-fluid bg-dark p-3 p-md-5">
	<div class="container">
		<div class="row">
			<div class="col-md-6 mb-5 mb-md-0">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4aCCKSkhv24" allowfullscreen></iframe>
				</div>
			</div>
			<div class="col-md-6">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/SCTUJ_--dyA" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</div>

{% include opt-in.html %}