<div class="container-fluid bg-dark text-white text-center py-3 py-md-5">
  <div class="container">
    <div class="col">
      <p>Friends of Kyrgyzstan is a registered 501(c)3 organization and is not associated with the United States Peace Corps. The views and information expressed here are our own and do not necessarily reflect the opinions or policies of either the United States Peace Corps or it’s volunteers.</p>
    </div>
  </div>
</div>

<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <p class="lead">Friends of Kyrgyzstan 501(c)3</p>
      <small class="d-block mb-3 text-muted">© 1992-{{ 'now' | date: "%Y" }}</small>
    </div>
    <div class="col-6 col-md">
      <h5>From Us</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="{{ site.url }}/grants/">Grants</a></li>
        <li><a class="text-muted" href="{{ site.url }}/cookbook/">Cookbook</a></li>
        <li><a class="text-muted" href="{{ site.url }}/donate/">Donate</a></li>
        <li><a class="text-muted" href="{{ site.url }}/authors/">Authors</a></li>
        <!-- <li><a class="text-muted" href="{{ site.url }}/volunteers/">Volunteers</a></li> -->
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Peace Corps</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="https://www.peacecorps.gov/" target="_blank">Peace Corps Home</a></li>
        <li><a class="text-muted" href="https://www.peacecorps.gov/kyrgyz-republic/" target="_blank">Serve in Kyrgyzstan</a></li>
        <li><a class="text-muted" href="https://amzn.to/38uUH35" target="_blank">Books about Peace Corps</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>National Association</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="https://www.peacecorpsconnect.org/" target="_blank">NPCA Home</a></li>
        <li><a class="text-muted" href="https://www.peacecorpsconnect.org/cpages/our-mission-and-model" target="_blank">Mission and Goals</a></li>
        <li><a class="text-muted" href="https://www.peacecorpsconnect.org/auth/signup" target="_blank">Join NPCA</a></li>
        <li><a class="text-muted" href="https://www.peacecorpsconnect.org/articles" target="_blank">Blog</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Site</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="{{ site.url }}/contact/">Contact</a></li>
        <li><a class="text-muted" href="{{ site.url }}/privacy/">Privacy</a></li>
        <li><a class="text-muted" href="{{ site.url }}/sitemap.xml/">Sitemap</a></li>
      </ul>
    </div>
  </div>
</footer>