<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h3>{{ site.title }}</h3>
            <p>{% if site.address %}{{ site.address }}<br><br>{% endif %}
              {% if site.phone %}<strong>Phone:</strong> {{ site.phone }}<br>{% endif %}
              {% if site.email %}<strong>Email:</strong> {{ site.email }}<br>{% endif %}
            </p>
            <div class="social-links mt-3">
              {% include social-buttons.html %}
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Top Topics</h4>
          <ul>
          {% assign sortedTags = site.tags %}  
            {% if sortedTags.first[0] == null %}
              {% for tag in sortedTags limit:5 %} 
                <li><i class="bx bx-chevron-right"></i> <a href="{{ site.url }}/tag/{{ tag | slugify }}/">{{ tag | capitalize }}</a></li>
              {% endfor %}
            {% else %}
              {% for tag in sortedTags limit:5 %} 
                <li><i class="bx bx-chevron-right"></i> <a href="{{ site.url }}/tag/{{ tag[0] | slugify }}/">{{ tag[0] | capitalize }}</a></li>
              {% endfor %}
            {% endif %}
          {% assign sortedTags = nil %}
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Top Categories</h4>
          <ul>
          {% assign sortedCategories = site.categories %}  
            {% if sortedCategories.first[0] == null %}
              {% for category in sortedCategories limit:5 %} 
                <li><i class="bx bx-chevron-right"></i> <a href="{{ site.url }}/category/{{ category | slugify }}/">{{ category | capitalize }}</a></li>
              {% endfor %}
            {% else %}
              {% for category in sortedCategories limit:5 %} 
                <li><i class="bx bx-chevron-right"></i> <a href="{{ site.url }}/category/{{ category[0] | slugify }}/">{{ category[0] | capitalize }}</a></li>
              {% endfor %}
            {% endif %}
          {% assign sortedCategories = nil %}
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Newsletter</h4>
          <p>Sign up to {{ site.title }}</p>
          {% include mailchimp.html %}

        </div>

      </div>
    </div>
  </div>

  <div class="container">

    <div class="copyright">
      &copy; Copyright {{ 'now' | date: '%Y' }}, <strong><span>{{ site.title }}</span></strong>. All Rights Reserved.
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/sailor-free-bootstrap-theme/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>
</footer><!-- End Footer -->