<div class="container py-3 py-md-5">
  <div class="row">
    <div class="col-md-6">
      <p>If you are an RPCV who served in Kyrgyzstan, are interested in serving in Kyrgyzstan, a Kyrgyz national or have a general interest in Kyrgyzstan and Central Asia, we would love to hear from you! Please use this form to get in touch.</p>
      <p>We also invite you to like us on Facebook.</p>
      <p>
        <a href="https://www.facebook.com/FriendsOfKyrgyzstan/" alt="Friends of Kyrgyzstan on Facebook" target="_blank" class="btn btn-info text-white">
          {% include icons/facebook-f.svg %}
          Friends of Kyrgyzstan on Facebook
        </a>
      </p>
    </div>
    <div class="col-md-6">
      <form
        action="https://formspree.io/mlejayob"
        method="POST"
      >
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="text" class="form-control" name="_replyto" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Your message</label>
          <textarea class="form-control" name="message" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </form>  
    </div>
  </div>
</div>


