<!-- ======= Hero Section ======= -->
<section id="hero">

  <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

    {% assign filtered_posts = site.posts | where: 'featured', 'true' %}
    <div class="carousel-inner">

      {% for post in filtered_posts %}
      <div class="carousel-item{% if forloop.first %} active{% endif %}" style="background-image: url(https://res.cloudinary.com/friendsofkyrgyzstan/image/fetch/c_limit,f_auto,q_auto,w_1000/{{ site.url }}/{{ post.image }})">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown">{{ post.title }}</h2>
            <p class="animate__animated animate__fadeInUp">{{ post.excerpt | strip_html | truncatewords:20 }}</p>
            <a href="{{ site.url }}{{ post.url }}" class="btn-get-started animate__animated animate__fadeInUp scrollto">Continue Reading</a>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>

  </div>

</section>