<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">

    <div class="row content">
      <div class="col-lg-6">
        <h2>Our mission</h2>
        <h3>To promote and share information about Kyrgyzstan to the Peace Corps community and beyond.</h3>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <p>We focus on representing the Peace Corps experience and support the continual learning of members in areas related to the culture, country and development of Kyrgyzstan including the promotion and facilitation of projects our members undertake with this aim.</p>
        <ul>
          <li><i class="ri-check-double-line"></i> We promote continuous dialogue regarding the work Peace Corps Volunteers have accomplished in Kyrgyzstan by hosting meet ups, online conversations, and representing our cumulative experiences to community and government leaders.</li>
          <li><i class="ri-check-double-line"></i> We support projects of current Peace Corps Volunteers in Kyrgyzstan through grants we fund with the generosity of our supporters. We are a registered 501(c)3 organization. <a href="{{ site.url }}/donate/" alt="Make a donation to Friends of Kyrgyzstan here">Make your tax-deductible donation today</a>.</li>
        </ul>
      </div>
    </div>

  </div>
</section><!-- End About Section -->