<!-- ======= Video Section ======= -->
<section id="blog" class="blog">
  <div class="container">

    <div class="section-title">
      <h2>Video</h2>
      <p>Recent videos</p>
    </div>

		<div class="row">
			<div class="col-md-6 mb-5 mb-md-0">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4aCCKSkhv24" allowfullscreen></iframe>
				</div>
			</div>
			<div class="col-md-6">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/SCTUJ_--dyA" allowfullscreen></iframe>
				</div>
			</div>
		</div>

  </div>
</section>