<div class="container py-3 py-md-5">
  <div class="row">
    <div class="col-md-6">
      <p>If you are an RPCV who served in Kyrgyzstan, are interested in serving in Kyrgyzstan, a Kyrgyz national or have a general interest in Kyrgyzstan and Central Asia, we would love to hear from you! Please use this form to get in touch.</p>
      <p>We also invite you to like us on Facebook.</p>
      <p>
        <a href="https://www.facebook.com/FriendsOfKyrgyzstan/" alt="Friends of Kyrgyzstan on Facebook" target="_blank" class="btn btn-facebook text-white">
          <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" class="svg-inline--fa fa-facebook-f fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" height="24px">
            <path fill="currentColor" d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"></path>
          </svg>
          Friends of Kyrgyzstan on Facebook
        </a>
      </p>
    </div>
    <div class="col-md-6">
      <form
        action="https://formspree.io/mlejayob"
        method="POST"
      >
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="text" class="form-control" name="_replyto" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Your message</label>
          <textarea class="form-control" name="message" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </form>  
    </div>
  </div>
</div>


