<!-- Pagination -->
<div class="blog-pagination" data-aos="fade-up">
  {% if paginator.total_pages > 1 %}
  <ul class="justify-content-center">
      {% if paginator.first_page %}
      <li class="d-none d-sm-block">
          <a href="{{ paginator.first_page_path | prepend: site.baseurl | replace: '//', '/' }}">First</a>
      </li>
      {% endif %}

      {% if paginator.previous_page %}
      <li class="d-none d-md-block">
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
      </li>
      {% endif %}

      {% if paginator.page_trail %}
        {% for trail in paginator.page_trail %}
          <li {% if page.url == trail.path %}class="active"{% endif %}>
              <a href="{{ trail.path | prepend: site.baseurl | replace: '//', '/' }}" title="{{ trail.title}} ">{{ trail.num }}</a>
          </li>
        {% endfor %}
      {% endif %}

      {% if paginator.next_page %}
      <li class="d-none d-md-block">
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
      </li>
      {% endif %}

      {% if paginator.last_page %}
      <li class="d-none d-sm-block">
          <a href="{{ paginator.last_page_path | prepend: site.baseurl | replace: '//', '/' }}">Last</a>
      </li>
      {% endif %}
  </ul>
  {% endif %}
</div>