{% assign author = site.authors | where: 'short_name', page.author | first %}
<div class="blog-author clearfix">
  {% cloudinary {{ site.url }}/{{ author.avatar }} class="rounded-circle float-left" alt="{{ author.name }}" %} 
  <h4>{{ author.name }}</h4>
  <div class="social-links">
    {% if author.twitter %}<a href="{{ author.twitter }}"><i class="icofont-twitter"></i></a>{% endif %}
    {% if author.facebook %}<a href="{{ author.facebook }}"><i class="icofont-facebook"></i></a>{% endif %}
    {% if author.instagram %}<a href="{{ author.instagram }}"><i class="icofont-instagram"></i></a>{% endif %}
    {% if author.linkedin %}<a href="{{ author.linkedin }}"><i class="icofont-linkedin"></i></a>{% endif %}
    {% if author.youtube %}<a href="{{ author.youtube }}"><i class="icofont-youtube"></i></a>{% endif %}
  </div>
  <p>
    {{ author.content | markdownify }}
  </p>
</div><!-- End blog author bio -->