// Color system

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #AEA79F !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #333333 !default;
$gray-900: #212529 !default;

$black:   #000000 !default;
$blue:    #3b5998 !default;
$indigo:  #6610f2 !default;
$purple:  #772953 !default;
$pink:    #e83e8c !default;
$red:     #bd2020 !default;
$orange:  #E95420 !default;
$yellow:  #FFEF00 !default;
$green:   #38B44A !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$primary:       $red !default;
$secondary:     $gray-500 !default;
$success:       $green !default;
$info:          $blue !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-200 !default;
$dark:          $red !default;


$yiq-contrasted-threshold: 200 !default;

// Body

$body-color:	$gray-700 !default;

// Fonts

$enable-responsive-font-sizes: true;

p {	
    font-size: 1em;
    font-weight: 500;
}

$font-family-sans-serif:	"Open Sans",Arial,sans-serif;

.deep {
    text-shadow: 0 1px 3px rgba(0,0,0,.3);
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700!important;
}

// Tables

$table-dark-bg:               $dark !default;
$table-dark-border-color:     darken($dark, 5%) !default;
