--- 
layout: default
---

<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        {% assign sortedCategories = page.categories %}
        {% for category in sortedCategories limit:1 %}
        <h2>{{ category }}</h2>
        {% endfor %}
        <ol>
          <li><a href="{{ site.url }}">Home</a></li>
          <li><a href="{{ site.url }}/{{ page.url }}">{{ page.title }}</a></li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Blog Section ======= -->
  <section id="blog" class="blog">
    <div class="container">

      <div class="row">

        <div class="col-lg-8 entries">

          <article class="entry entry-single">

            {% if page.image %}
            <div class="entry-img">
              {% cloudinary {{ site.url }}{{ page.image }}" alt="{{ page.title }}" %}
            </div>
            {% endif %}

            <h2 class="entry-title">{{ page.title }}</h2>

            <div class="entry-meta">
              <ul>
                {% assign author = site.authors | where: 'short_name', page.author | first %}
                <li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="{{ site.url }}/authors/{{ author.short_name }}">{{ author.name | camelcase }}</a></li>
                <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <time datetime="{{ page.date | date:"%B %e, %Y" }}">{{ page.date | date:"%B %e, %Y" }}</time></li>
                <li class="d-flex align-items-center"><i class="icofont-comment"></i> <a href="{{ page.url }}#disqus_thread">0 Comments</a></li>
              </ul>
            </div>

            {{ content }}

            <div class="entry-footer clearfix">
              <div class="float-left">
                <i class="icofont-folder"></i>
                <ul class="cats">
                  {% assign sortedCategories = page.categories %}
                  {% for category in sortedCategories limit:1 %}
                  <li><a href="{{ site.url }}/category/{{ category | slugify }}/">{{ category | camelcase }}</a></li>
                  {% endfor %}
                </ul>

                <i class="icofont-tags"></i>
                <ul class="tags">
                  {% assign sortedTags = page.tags %}
                  {% for tag in sortedTags limit:5 %}
                  <li><a href="{{ site.url }}/tag/{{ tag | slugify }}/">{{ tag | camelcase }}</a></li>
                  {% endfor %}
                </ul>
              </div>

              <div class="float-right share">
                <a href="https://twitter.com/intent/tweet?text=I just read '{{ page.title | cgi_escape }}' on {{ site.title }}. Check it out: {{ site.url }}{{ page.url }}" title="Share on Twitter"><i class="icofont-twitter"></i></a>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}&amp;src=sdkpreparse" title="Share on Facebook"><i class="icofont-facebook"></i></a>
              </div>

            </div>

          </article><!-- End blog entry -->

          {% include post-author-box.html %}

          <div class="blog-comments">

            {% include disqus.html %}

          </div><!-- End blog comments -->

        </div><!-- End blog entries list -->

        <div class="col-lg-4">

        	{% include sidebar.html %}

        </div><!-- End blog sidebar -->

      </div>
    </div>
    </div>
  </section><!-- End Blog Section -->

</main><!-- End #main -->